/* Flexbox Container */
.flex-container {
  display: flex; /* Enable Flexbox */
  flex-direction: row;
  flex-wrap: wrap; /* Allow items to wrap into multiple rows */
  justify-content: space-between; /* Space items evenly horizontally */
  align-items: flex-start; /* Align items to the top */
  height: 100vh; /* Full viewport height */
  background-color: #f4f4f4;
}

/* Flex Items */
.flex-sin {
  background-color: #800000;
  color: white;
  padding: 20px;
  margin: 10px;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  width: calc(50% - 20px); /* Make each item 1/3 of the container width minus margin */
  box-sizing: border-box; /* Include padding and margin in width calculation */
}
.flex-virtue {
  background-color: #000080;
  color: white;
  padding: 20px;
  margin: 10px;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  width: calc(50% - 20px); /* Make each item 1/3 of the container width minus margin */
  box-sizing: border-box; /* Include padding and margin in width calculation */
}
.flex-title {
  background-color: #008000;
  color: white;
  padding: 20px;
  margin: 10px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  border-radius: 5px;
  width: calc(100% - 20px); /* Make each item 1/3 of the container width minus margin */
  box-sizing: border-box; /* Include padding and margin in width calculation */
}
.flex-sin-subtitle {
  background-color: #800000;
  color: white;
  padding: 20px;
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  width: calc(50% - 20px); /* Make each item 1/3 of the container width minus margin */
  box-sizing: border-box; /* Include padding and margin in width calculation */
}
.flex-virtue-subtitle {
  background-color: #000080;
  color: white;
  padding: 20px;
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  width: calc(50% - 20px); /* Make each item 1/3 of the container width minus margin */
  box-sizing: border-box; /* Include padding and margin in width calculation */
}